{% extends 'myapp/base.html' %}
{% block content %}
<div class="container">
        <div class="row">
		<div  id="img1" >
		<img src="https://www.vrlgroup.in/v4_images/VRLLOGO.svg" width=300px height=150px >
		</div><br><br><br>
            <div class="col-sm-6 mx-auto" style="margin-top: 70px; border:1px solid black;" >
		
                <form action="{% url 'signup' %}" method="post">
                    <h1>SIGN UP</h1>
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">EMAIL:</label>
                        <div class="col-10">
                            <input name='email' class="form-control" type="text" id="example-email-input" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">USERNAME:</label>
                        <div class="col-10">
                            <input name='name' class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">PASSWORD:</label>
                        <div class="col-10">
                            <input name='password' class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success float-right">SIGN UP</button>
						
                    </div>

                </form>
				
            </div>
        </div>

    </div><br>

{% endblock %}